@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --flickr-pink: #f72585ff;
  --byzantine: #b5179eff;
  --purple: #7209b7ff;
  --purple-2: #560badff;
  --trypan-blue: #480ca8ff;
  --trypan-blue-2: #3a0ca3ff;
  --persian-blue: #3f37c9ff;
  --ultramarine-blue: #4361eeff;
  --dodger-blue: #4895efff;
  --vivid-sky-blue: #4cc9f0ff;
}
.name > span {
  display: inline-block;
}

.vanish {
  animation: vanish 0.5s forwards 1s;
}

#n-1 {
  transform: translateX(0px) rotate(0deg);
  animation: moveRight 1s forwards 1s;
}

#n-7,
#n-8 {
  transform: translateX(0px) rotate(0deg);
  animation: moveLeft 1s forwards 1s;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: rotate(-2deg);
  }
  70% {
    transform: translateX(-2.13rem);
  }
  100% {
    transform: translateX(-2.12rem);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: translateX(8.2rem) scaleX(0.9);
  }
  100% {
    transform: translateX(8rem) rotate(0deg) scaleX(1);
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
    transform: translateY(0px) scale(1) skew(0);
  }
  50% {
    transform: translateY(0px) scale(0.6) skew(-50deg, 50deg);
  }
  100% {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }
}
